.cardBorder {
	position: relative;
	width: 182px;
	height: 230px;
	background-image: linear-gradient(
		10deg,
		rgba(21, 191, 253, 0.7) 9.96%,
		rgba(156, 55, 253, 0.7) 100%
	);
	background-origin: border-box;
	background-clip: padding-box, border-box;

	border-radius: 16px;
	clip-path: polygon(0 0, 100% 0, 100% 82%, 70% 100%, 0 100%);
}
.card {
	@apply flex flex-col gap-y-[16px] items-center px-[10px] py-[24px];
	position: absolute;
	top: 1px; /* соответствует ширине border */
	left: 1px; /* соответствует ширине border */
	width: 180px; /* container width - (ширина border * 2) */
	height: 228px; /* container height - (ширина border * 2) */
	background-color: #0f1438;
	border-radius: 16px;
	clip-path: polygon(0 0, 100% 0, 100% 82.3%, 70.3% 100%, 0 100%);
}
