.questionItem {
	@apply relative flex flex-col gap-[16px] rounded-layout border-[1px] border-solid border-transparent px-[24px] py-[27px];
	background: linear-gradient(
				-45deg,
				transparent 0 4%,
				rgba(255, 255, 255, 0.051) 4% 96%,
				transparent 96% 100%
			)
			padding-box,
		linear-gradient(
				-45deg,
				transparent 0 4%,
				#0c102d 4% 96%,
				transparent 96% 100%
			)
			padding-box,
		linear-gradient(
				135deg,
				transparent 0 4%,
				rgba(21, 191, 253, 0.7) 0%,
				rgba(156, 55, 253, 0.7) 96%,
				transparent 95% 100%
			)
			border-box,
		linear-gradient(
				-45deg,
				transparent 0 4%,
				#aeb0c3 4% 96%,
				transparent 96% 100%
			)
			border-box;
	.description {
		@apply hidden;
	}
	.questionBtn {
		@apply absolute right-[20px] top-[20px] h-[10px] w-[10px] cursor-pointer border-none bg-transparent bg-center bg-no-repeat p-[15px];
		background-image: url("data:image/svg+xml,%3Csvg width='16' height='3' viewBox='0 0 16 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1.5C0 0.947715 0.447715 0.5 1 0.5H15C15.5523 0.5 16 0.947715 16 1.5C16 2.05228 15.5523 2.5 15 2.5H1C0.447715 2.5 0 2.05228 0 1.5Z' fill='white'/%3E%3C/svg%3E%0A");
	}
	&.active {
		.description {
			@apply block w-[91%];
		}
		.questionBtn {
			background-image: url("data:image/svg+xml, %3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.414214 7C0.414214 6.44772 0.861929 6 1.41421 6L6.07108 6L6.07108 1.34313C6.07108 0.790845 6.5188 0.34313 7.07108 0.34313C7.62337 0.343129 8.07108 0.790845 8.07108 1.34313L8.07108 6H12.7279C13.2802 6 13.7279 6.44772 13.7279 7C13.7279 7.55228 13.2802 8 12.7279 8H8.07108L8.07108 12.6569C8.07108 13.2092 7.62337 13.6569 7.07108 13.6569C6.5188 13.6569 6.07108 13.2092 6.07108 12.6569L6.07108 8L1.41421 8C0.861929 8 0.414214 7.55228 0.414214 7Z' fill='white'/%3E%3C/svg%3E%0A");
		}
	}
}
