.inputWrapper {
	@apply relative;

	.input {
		@apply min-w-[493px] text-[16px] leading-[22px] text-textColor p-[24px] border-[1px] border-solid border-transparent rounded-layout active:text-white disabled:border-borderColor disabled:text-borderColor placeholder:text-textColor disabled:placeholder:text-borderColor;
		font-family: 'Inter', sans-serif;
		background: linear-gradient(
					rgba(255, 255, 255, 0.05),
					rgba(255, 255, 255, 0.05)
				)
				padding-box,
			linear-gradient(#0c102d, #0c102d) padding-box,
			linear-gradient(
					152.14deg,
					rgba(21, 191, 253, 0.7) 9.96%,
					rgba(156, 55, 253, 0.7) 100%
				)
				border-box;
	}
	.error {
		background-image: linear-gradient(#23263a, #23263a),
			linear-gradient(#fd4646, #fd4646);
	}
	.errorMessage {
		@apply absolute bottom-[-20px] left-0 text-errorColor;
	}
}
