@import './variables.scss';

@mixin roundedGradientBorder($radius, $size, $gradient) {
	position: relative;
	background: $gradient;
	border-radius: $radius;
	clip-path: polygon(0px 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0px);

	&::before {
		content: '';
		position: absolute;
		top: $size;
		right: $size;
		bottom: $size;
		left: $size;
		background: linear-gradient(rgba(#fff, 0.05), rgba(#fff, 0.05)),
			linear-gradient($mainBgColor, $mainBgColor);
		border-radius: $radius;
		clip-path: polygon(0px 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0px);
		z-index: -1;
		pointer-events: none;
	}
}

@mixin croppedBorder(
	$corner: 32px,
	$top-left: false,
	$top-right: false,
	$bottom-right: false,
	$bottom-left: false
) {
	clip-path: polygon(
		if($top-left == true, 0 $corner, 0 0),
		if($top-left == true, $corner 0, 0 0),
		if($top-right == true, calc(100% - $corner) 0, 100% 0),
		if($top-right == true, 100% $corner, 100% 0),
		if($bottom-right == true, 100% calc(100% - $corner), 100% 100%),
		if($bottom-right == true, calc(100% - $corner) 100%, 100% 100%),
		if($bottom-left == true, $corner 100%, 0 100%),
		if($bottom-left == true, 0 calc(100% - $corner), 0 100%)
	);

	&::before {
		clip-path: polygon(
			if($top-left == true, 0 $corner, 0 0),
			if($top-left == true, $corner 0, 0 0),
			if($top-right == true, calc(100% - $corner) 0, 100% 0),
			if($top-right == true, 100% $corner, 100% 0),
			if($bottom-right == true, 100% calc(100% - $corner), 100% 100%),
			if($bottom-right == true, calc(100% - $corner) 100%, 100% 100%),
			if($bottom-left == true, $corner 100%, 0 100%),
			if($bottom-left == true, 0 calc(100% - $corner), 0 100%)
		);
	}
}
