@import 'styles/scss/mixins.scss';
@import 'styles/scss/variables.scss';

.listItem {
	@apply order-1 box-content rounded-[16px] p-[1px];
	@include roundedGradientBorder(16px, 2px, $gradient-1-reversed);
	@include croppedBorder(32px, false, false, true);
	.imageItem {
		@apply block h-[422px] w-[184px] rounded-[16px] border-[1px] border-solid border-transparent object-cover transition-all duration-300;
		@include roundedGradientBorder(16px, 2px, $gradient-1-reversed);
		@include croppedBorder(32px, false, false, true);

		&.activeImage {
			@apply h-[422px] w-[392px];
			@include roundedGradientBorder(16px, 2px, $gradient-1-reversed);
			@include croppedBorder(64px, false, false, true);
		}
	}

	&.activeListItem {
		@apply order-[0];
		@include roundedGradientBorder(16px, 2px, $gradient-1-reversed);
		@include croppedBorder(64px, false, false, true);
	}
}
.listItem:first-child {
	.imageItem {
		object-position: 52% 50%;
	}
}
.listItem:nth-child(2) {
	.imageItem {
		object-position: 65% 50%;
	}
}
.listItem:last-child {
	.imageItem {
		object-position: 80% 50%;
	}
}
